@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<OrganizacijaVM> lista_organizacija = (List<OrganizacijaVM>)ViewData["organizacija"];
    
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>

    <h1>Prikaz Organizacija</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a href="/SuperAdmin/Organizacija/Unos" class="btn btn-success">Dodaj novu</a>
        </div>
        <div id="print_excel">
            <a href="/SuperAdmin/Organizacija/Excel" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Šifra</th>
        <th>PTT</th>
        <th>Država</th>
        <th>Adresa</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista_organizacija)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@x.PTT_naziv</td>
                    <td>@x.Drzava_naziv</td>
                    <td>@x.Adresa</td>
                    <td>
                        <a href="/SuperAdmin/Organizacija/Uredi?id=@x.Organizacija_ID" class="btn btn-primary">Uredi</a>
                        <a id="ukloni_@x.Organizacija_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.Organizacija_ID">Sigurni? <a href="/SuperAdmin/Organizacija/Ukloni?id=@x.Organizacija_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.Organizacija_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.Organizacija_ID").hide();

                            $("#ukloni_@x.Organizacija_ID").click(function () {

                                $("#poruka_@x.Organizacija_ID").slideDown();
                            });

                            $("#no_@x.Organizacija_ID").click(function () {
                                $("#poruka_@x.Organizacija_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>