@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<ProjekatAktivnostRealizacija> lista = (List<ProjekatAktivnostRealizacija>)ViewData["lista_relizacija"];

    uor id = (uor)ViewData["id"];
    Layout = "~/Views/Shared/_Layout_user_report.cshtml";

    byte[] pic = (byte[])ViewData["logo"];

    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>


    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

    #dodaj, #detalji, #print_preview, #print_excel, #print_pdf {
        display: inline-block;
        margin: 2%;
    }

    #print_preview, #print_excel, #print_pdf {
        color: white;
    }

    #dugmad {
        margin-bottom: 2%;
        margin-top: 2%;
    }

    a:hover {
        color: white;
        text-decoration: none;
        text-decoration-line: none;
    }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/UserReport/UserReport/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/UserReport/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
        </ul>
    </div>
</div>
@*<script>
    $(document.getElementsByTagName("li")).mousedown(function () {
        this.style.backgroundColor = "rgba(250, 90, 90, 0.8)";
        this.style.width = "100%";
        this.style.borderRadius = "0px 25px 25px 0px";
    });

    $(document.getElementsByTagName("li")).mouseleave(function () {
        this.style.backgroundColor = "rgb(51, 51, 51)";
        this.style.width = "100%";
        this.style.borderRadius = "0px";
    });

    $(document.getElementsByTagName("a")).mousedown(function () {
        this.style.color = "White";
    });
        //$(document.getElementsByTagName("li")).mouseup(function () {
        //    this.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
        //});
</script>*@
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Realizacija</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="dugmad">
        @*<div id="dodaj">
                <a class="btn btn-success" href="/UserReport/ProjekatAktivnostRealizacija/Unos">Unesi novu</a>
            </div>*@
        <div id="detalji">
            <a class="btn btn-warning" href="/UserReport/ProjekatAktivnostRealizacija/Detalji?u=@id.userId&o=@id.organisationId&r=@id.roleId">Detalji</a>
        </div>
        @*<div id="print_preview"><a href="/ProjekatAktivnostRealizacija/PrintPreview" class="btn btn-info">Export to PDF</a></div>*@
        @*<div id="print_preview"><a href="/UserReport/ProjekatAktivnostRealizacija/Pdf" class="btn btn-info">Export to PDF</a></div>*@
        <div id="print_excel"><a href="/UserReport/ProjekatAktivnostRealizacija/Excel?u=@id.userId&o=@id.organisationId&r=@id.roleId" class="btn btn-info">Export to Excel</a></div>
        <div></div>
        <div></div>
    </div>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Projekat aktivnost plan</th>
        @*<th>Korisnik</th>*@
        <th>Datum</th>
        <th>Količina</th>
        <th>Opis</th>
        @*<th>Akcija</th>*@
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.ProjekatAktivnostRealizacija_ID</td>
                    <td>@x.projekatAktivnostPlan.Naziv</td>
                    @*<td>@(x.korisnici.Ime+" "+x.korisnici.Prezime)</td>*@
                    <td>@(x.Datum.Date.Day+"."+ x.Datum.Date.Month + "." + x.Datum.Date.Year + ".")</td>
                    <td>@x.Kolicina</td>
                    <td>@x.Opis</td>
                    @*<td><a class="btn btn-danger" href="/UserReport/ProjekatAktivnostRealizacija/Ukloni?id=@x.ProjekatAktivnostRealizacija_ID">Ukloni</a></td>
                        <td><a class="btn btn-primary" href="/UserReport/ProjekatAktivnostRealizacija/Uredi?id=@x.ProjekatAktivnostRealizacija_ID">Uredi</a></td>*@
                </tr>
            }
        </tbody>
    </table>
</center>