@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@using Microsoft.AspNetCore.Http;
@{
    List<par_final_VM> lista = (List<par_final_VM>)ViewData["lista_relizacija"];

    Layout = "~/Views/Shared/_Layout_user_report.cshtml";

    byte[] pic = (byte[])ViewData["logo"];

    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Realizacija</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="dugmad">

        <div id="detalji">
            <a class="btn btn-warning" href="/UserReport/ProjekatAktivnostRealizacija/Detalji">Detalji</a>
        </div>
        <div id="print_excel"><a href="/UserReport/ProjekatAktivnostRealizacija/Excel" class="btn btn-info">Export to Excel</a></div>
        <div></div>
        <div></div>
    </div>
    <table class="table">
        <thead>
            <th>Projekat plan</th>
            <th>Projekat aktivnost plan</th>
            <th>Organizaciona jedinica</th>
            <th>Korisnik</th>
            <th>Datum</th>
            <th>Količina</th>
            <th>Opis</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.proj_plan.Naziv</td>
                    <td>@x.ProjekatAktivnostPlan_all.Naziv</td>
                    <td>@x.OrgJed.Naziv</td>
                    <td>@(x.Korisnici.Ime+" "+x.Korisnici.Prezime)</td>
                    <td>@(x.Datum.Date.Day+"."+ x.Datum.Date.Month + "." + x.Datum.Date.Year + ".")</td>
                    <td>@x.Kolicina</td>
                    <td>@x.Opis</td>
                </tr>
            }
        </tbody>
    </table>
</center>