@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Korisnici> lista = (List<Korisnici>)ViewData["korisnik"];

    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>
    .loader {
        position: relative;
        border: 2.5vw solid #c2fdc5;
        border-top: 2.5vw solid #28a524;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
        animation: spin 1s linear infinite;
        margin: auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #tekst_ucitava {
        position: relative;
        text-align: center;
        font-family: Agency FB;
        font-size: 5vw;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }

    #tekst_i_animacija {
        position: absolute;
        height: 30%;
        width: 30%;
        margin-left: 25%;
        margin-top: 8vw;
    }

    #podloga {
        position: absolute;
        width: 70%;
        height: 100%;
        margin-top: 5%;
    }
</style>
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Korisnika</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="podloga">
        <div id="dugmad">
            <div id="dodaj">
                <a href="/AdminOrg/Korisnik/Unos" class="btn btn-success">Dodaj novog</a>
            </div>
            <div id="print_excel">
                <a href="/AdminOrg/Korisnik/Excel" class="btn btn-info">Export to Excel</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <th>Ime i prezime</th>
            <th>Šifra</th>
            <th>Uloga</th>
            <th>Korisničko ime</th>
            <th>Lozinka</th>
            <th>Telefon</th>
            <th>Mail</th>
            <th>Akcija</th>
            </thead>
            <tbody>
                @foreach (var x in lista)
                {
                    <tr>
                        <td>@(x.Ime.ToString()+" "+x.Prezime.ToString())</td>
                        <td>@x.Sifra</td>
                        <td>@x.uloge.Naziv</td>
                        <td>@x.Korisnicko_Ime</td>
                        <td>@x.Lozinka</td>
                        <td>@x.Telefon</td>
                        <td>@x.Mail</td>
                        <td>
                            <a class="btn btn-primary" href="/AdminOrg/Korisnik/Uredi?id=@x.Korisnici_ID">Uredi</a>
                            <a id="ukloni_@x.Korisnici_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                            <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.Korisnici_ID">Sigurni? <a href="/AdminOrg/Korisnik/Ukloni?id=@x.Korisnici_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.Korisnici_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                            <script>
                            $("#poruka_@x.Korisnici_ID").hide();

                            $("#ukloni_@x.Korisnici_ID").click(function () {

                                $("#poruka_@x.Korisnici_ID").slideDown();
                            });

                            $("#no_@x.Korisnici_ID").click(function () {
                                $("#poruka_@x.Korisnici_ID").slideUp();
                            });
                            </script>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="tekst_i_animacija">
        <div class="loader"></div>
        <p id="tekst_ucitava">Loading...</p>
    </div>

    <script>
        $(document).ready(function () {
            $("#tekst_i_animacija").show().delay(2000).hide();
        });
    </script>
</center>