@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Uloge> lista_uloge = (List<Uloge>)ViewData["uloge"];
    List<OrganizacionaJedinica>org_jed=(List<OrganizacionaJedinica>) ViewData["organizacione_jedinice"];

    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Unos korisnika</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <form action="/AdminOrg/Korisnik/UnosSnimi">
        <table>
            <tr>
                <td><label>Šifra</label></td>
                <td><input type="text" name="sifra" /></td>
            </tr>
            <tr>
                <td><label>Ime</label></td>
                <td><input type="text" name="ime" /></td>
            </tr>
            <tr>
                <td><label>Prezime</label></td>
                <td><input type="text" name="prezime" /></td>
            </tr>
            <tr>
                <td><label>Telefon</label></td>
                <td><input type="text" name="telefon" /></td>
            </tr>
            <tr>
                <td><label>Mail</label></td>
                <td><input type="text" name="mail" /></td>
            </tr>
            <tr>
                <td><label>Korisničko ime</label></td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td><label>Lozinka</label></td>
                <td><input type="password" name="lozinka" /></td>
            </tr>
            <tr>
                <td>
                    <label>Organizaciona jedinica</label>
                </td>
                <td>
                    <select name="Org_jed_id">
                        <option>---Odaberi---</option>
                        @foreach (var x in org_jed)
                        {
                            <option value="@x.OrganizacionaJedinica_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Uloga</label>
                </td>
                <td>
                    <select name="uloga">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_uloge)
                        {
                            <option value="@x.Uloge_ID" title="@x.Opis">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Snimi</button>
    </form>
</center>