@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    uor id = (uor)ViewData["id"];

    Korisnici k = (Korisnici)ViewData["korisnik"];

    List<Uloge> uloge = (List<Uloge>)ViewData["uloge"];

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/AdminOrg/AdminOrg/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="sifarnik">Opšti šifarnik</li>
            <ul id="o_s">
                <li><a href="/AdminOrg/OrganizacionaJedinica/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizaciona jedinica</a></li>
                <li><a href="/AdminOrg/KorisnikOrg/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnik-Organizaciona jedinica</a></li>
            </ul>
            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/AdminOrg/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/AdminOrg/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/AdminOrg/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
            </ul>
        </ul>
    </div>
</div>
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Uredi Korisnika</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <form method="post" action="/AdminOrg/Korisnik/UrediSnimi">

        <input name="id" hidden="hidden" value="@k.Korisnici_ID" />
        <input name="u" hidden="hidden" value="@id.userId" />
        <input name="o" hidden="hidden" value="@id.organisationId" />
        <input name="r" hidden="hidden" value="@id.roleId" />

        <table>
            <tr>
                <td>
                    <label>Ime</label>
                </td>
                <td>
                    <input type="text" name="ime" value="@k.Ime" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Prezime</label>
                </td>
                <td>
                    <input type="text" name="prezime" value="@k.Prezime" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Šifra</label>
                </td>
                <td>
                    <input type="text" name="sifra" value="@k.Sifra" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Korisničko ime</label>
                </td>
                <td>
                    <input type="text" name="korisnicko_ime" value="@k.Korisnicko_Ime" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Lozinka</label>
                </td>
                <td>
                    <input type="text" name="lozinka" value="@k.Lozinka" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Mail</label>
                </td>
                <td>
                    <input type="text" name="mail" value="@k.Mail" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Telefon</label>
                </td>
                <td>
                    <input type="text" name="telefon" value="@k.Telefon" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Uloga</label>
                </td>
                <td>
                    <select name="uloga">
                        <option value="@k.Uloge_FK">@k.uloge.Naziv</option>
                        @foreach (var x in uloge)
                        {
                            <option value="@x.Uloge_ID">@x.Naziv</option>
                        }
                    </select>

                </td>
            </tr>
        </table>

        <button class="btn btn-primary">Snimi</button>
    </form>
</center>