@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models; 
@using WebApplication1.Models.VM; 
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    Korisnici_OrganizacionaJedinica k_o=(Korisnici_OrganizacionaJedinica) ViewData["kor_oj"];

    List<Korisnici> k = (List<Korisnici>)ViewData["korisnici"];

    List <OrganizacionaJedinica> org_jed =(List<OrganizacionaJedinica>)ViewData["OrganizacionaJedinice"];

    uor id=(uor)ViewData["id"];
}
<center>
    <form method="post" action="/Admin/KorisnikOrg/UrediSnimi">
        <input hidden="hidden" name="u" value="@id.userId"/>
        <input hidden="hidden" name="o" value="@id.organisationId"/>
        <input hidden="hidden" name="r" value="@id.roleId"/>
        <input hidden="hidden" name="k_o_id" value="@k_o.Korisnici_OrganizacionaJedinica_ID"/>
        <table>
            <tr>
                <td>
                    <label>Korisnik</label>
                </td>
                <td>
                    <select name="korisnik">
                        <option value="@k_o.Korisnici_FK">@(k_o.korisnici.Ime.ToString()+" "+k_o.korisnici.Prezime.ToString())</option>
                        @foreach (var x in k)
                        {
                            <option value="@x.Korisnici_ID">@(x.Ime.ToString()+" "+x.Prezime.ToString())</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Organizaciona jedinica</label>
                </td>
                <td>
                    <select name="org_jed">
                        <option value="@k_o.Korisnici_OrganizacionaJedinica_ID">@k_o.organizacionaJedinica.Naziv</option>
                        @foreach (var x in org_jed)
                        {
                            <option value="@x.OrganizacionaJedinica_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Snimi</button>
    </form>
</center>