@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    @model WebApplication1.Models.VM.lista_DetaljiRealizacijaVM

    Layout = null;

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}

<style>

    .loader {
        position: relative;
        border: 2.5vw solid #c2fdc5;
        border-top: 2.5vw solid #28a524;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
        animation: spin 1s linear infinite;
        margin: auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #tekst_ucitava {
        position: relative;
        text-align: center;
        font-family: Agency FB;
        font-size: 5vw;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }

    #tekst_i_animacija {
        position: absolute;
        height: 30%;
        width: 30%;
        margin-left: 25%;
        margin-top: 8vw;
    }

    #podloga {
        position: absolute;
        width: 70%;
        height: 100%;
        margin-top: 5%;
    }
</style>
<div id="zaglavlje" style="width:100%">
    <h1 style="position:relative; display:inline;">Print Preview</h1>
    <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
</div>
<div id="podloga">
    <div id="forPrint">
        <table class="table">
            <thead>
            <th>Realizacija ID</th>
            @*<th>Projekat</th>*@
            <th>Aktivnost</th>
            <th>Korisnik</th>
            <th>Datum</th>
            <th>Količnia</th>
            <th>Opis</th>
            </thead>
            <tbody>
                @foreach (var x in Model.lista)
                {
                    <tr>
                        <td>@x.idRealizacija</td>
                        @*<td>@x.NazivProjekta</td>*@
                        <td>@x.NazivAktivnosti</td>
                        <td>@x.korisnik</td>
                        <td>@x.datum</td>
                        <td>@x.kolicina</td>
                        <td>@x.opis</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="tekst_i_animacija">
    <div class="loader"></div>
    <p id="tekst_ucitava">Loading...</p>
</div>
<script>
    $(document).ready(function () {
        $("#tekst_i_animacija").show().delay(2000).hide();
    });
</script>