@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<dropdownAdminOrgUnosRealVM> lista_proj_aktiv_plan = (List<dropdownAdminOrgUnosRealVM>)ViewData["lista_proj_aktiv_plan"];
    List<Korisnici> lista_korisnici = (List<Korisnici>)ViewData["lista_korisnici"];

    Layout = "~/Views/Shared/_Layout_admin_org_jed.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>

    .loader {
        position: relative;
        border: 2.5vw solid #c2fdc5;
        border-top: 2.5vw solid #28a524;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
        animation: spin 1s linear infinite;
        margin: auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #tekst_ucitava {
        position: relative;
        text-align: center;
        font-family: Agency FB;
        font-size: 5vw;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }

    #tekst_i_animacija {
        position: absolute;
        height: 30%;
        width: 30%;
        margin-left: 25%;
        margin-top: 8vw;
    }

    #podloga {
        position: absolute;
        width: 70%;
        height: 100%;
        margin-top: 5%;
    }
</style>
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Unos realizacije</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <br />
    <br />
    <div id="podloga">
        <form method="post" action="/AdminOrgJed/ProjekatAktivnostRealizacija/UnosSnimi">
            <table>
                <tr>
                    <td><label>Projektna aktivnost</label></td>
                    <td>
                        <select name="projekatAktivnostPlan">
                            <option>---Odaberi---</option>
                            @foreach (var x in lista_proj_aktiv_plan)
                            {
                                <option value="@x.aktivnostId">@x.aktivnost (@x.projekat)</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Korisnik</label></td>
                    <td>
                        <select name="korisnik">
                            <option>---Odaberi---</option>
                            @foreach (var x in lista_korisnici)
                            {
                                <option value="@x.Korisnici_ID">@(x.Ime+" "+x.Prezime)</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Datum</label></td>
                    <td>
                        <input name="datum" type="datetime-local" />
                    </td>
                </tr>
                <tr>
                    <td><label>Količina</label></td>
                    <td>
                        <input name="kolicina" type="text" />
                    </td>
                </tr>
                <tr>
                    <td><label>Opis</label></td>
                    <td>
                        <input name="opis" type="text" />
                    </td>
                </tr>
            </table>

            <button type="submit" class="btn btn-primary" id="go">Spremi</button>
        </form>
    </div>
    <div id="tekst_i_animacija">
        <div class="loader"></div>
        <p id="tekst_ucitava">Loading...</p>
    </div>
</center>


<script>
        $(document).ready(function () {
            $("#tekst_i_animacija").hide();
        });

        $("#go").click(function () {
            $("#tekst_i_animacija").show();
            document.getElementById("podloga").style.filter = "blur(10px)";
            document.getElementById("zaglavlje").style.filter = "blur(10px)";
        });
</script>