@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    ProjekatAktivnostRealizacija temp = (ProjekatAktivnostRealizacija)ViewData["uredi"];

    uor id = (uor)ViewData["id"];
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>


    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

    #dodaj, #detalji, #print_preview, #print_excel, #print_pdf {
        display: inline-block;
        margin: 2%;
    }

    #print_preview, #print_excel, #print_pdf {
        color: white;
    }

    #dugmad {
        margin-bottom: 2%;
        margin-top: 2%;
    }

    a:hover {
        color: white;
        text-decoration: none;
        text-decoration-line: none;
    }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/AdminOrgJed/AdminOrgJed/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>

            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/AdminOrgJed/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/AdminOrgJed/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/AdminOrgJed/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/AdminOrgJed/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
            </ul>
        </ul>
    </div>
</div>
@*<script>
        $(document.getElementsByTagName("li")).mousedown(function () {
            this.style.backgroundColor = "rgba(250, 90, 90, 0.8)";
            this.style.width = "100%";
            this.style.borderRadius = "0px 25px 25px 0px";
        });

        $(document.getElementsByTagName("li")).mouseleave(function () {
            this.style.backgroundColor = "rgb(51, 51, 51)";
            this.style.width = "100%";
            this.style.borderRadius = "0px";
        });

        $(document.getElementsByTagName("a")).mousedown(function () {
            this.style.color = "White";
        });
            //$(document.getElementsByTagName("li")).mouseup(function () {
            //    this.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
            //});
    </script>*@
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Uređivanje realizacije</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>

    <form method="post" action="/AdminOrgJed/ProjekatAktivnostRealizacija/UrediSnimi">
        <input hidden="hidden" name="u" value="@id.userId" />
        <input hidden="hidden" name="o" value="@id.organisationId" />
        <input hidden="hidden" name="r" value="@id.roleId" />
        <table>
            <tr>
                <input hidden="hidden" name="realizacijaId" value="@temp.ProjekatAktivnostRealizacija_ID"></input>
                <input hidden="hidden" name="aktivnostId" value="@temp.ProjekatAktivnostPlan_FK"></input>
                <td><label>Naziv aktivnosti</label></td>
                <td><input name="projekat" readonly="readonly" value="@temp.projekatAktivnostPlan.Naziv" /></td>
            </tr>
            <tr>
                <td><label>Količina</label></td>
                <td><input value="@temp.Kolicina" name="kolicina" /></td>
            </tr>
            <tr>
                <td><label>Datum</label></td>
                <td><input type="datetime" value="@temp.Datum.Date" name="datum" /></td>
            </tr>
            <tr>
                <td><label>Opis</label></td>
                <td><input type="text" value="@temp.Opis" name="opis" /></td>
            </tr>
        </table>

        <button class="btn btn-primary">Snimi</button>
    </form>
</center>