@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    Korisnici_OrganizacionaJedinica k_o = (Korisnici_OrganizacionaJedinica)ViewData["kor_oj"];

    List<OrganizacionaJedinica> org_jed = (List<OrganizacionaJedinica>)ViewData["OrganizacionaJedinice"];

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>

    .loader {
        position: relative;
        border: 2.5vw solid #c2fdc5;
        border-top: 2.5vw solid #28a524;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
        animation: spin 1s linear infinite;
        margin: auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #tekst_ucitava {
        position: relative;
        text-align: center;
        font-family: Agency FB;
        font-size: 5vw;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }

    #tekst_i_animacija {
        position: absolute;
        height: 30%;
        width: 30%;
        margin-left: 25%;
        margin-top: 8vw;
    }

    #podloga {
        position: absolute;
        width: 70%;
        height: 100%;
        margin-top: 5%;
    }
</style>
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Uređivanje Korisnika - Organizacione jedinice</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="podloga">
        <form method="post" action="/AdminOrg/KorisnikOrg/UrediSnimi">
            <input hidden="hidden" name="k_o_id" value="@k_o.Korisnici_OrganizacionaJedinica_ID" />
            <table>
                <tr>
                    <td>
                        <label>Korisnik</label>
                    </td>
                    <td>
                        <input name="korisnik" hidden="hidden" value="@k_o.Korisnici_FK" />
                        <input readonly="readonly" value="@(k_o.korisnici.Ime.ToString()+" "+k_o.korisnici.Prezime.ToString())" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Organizaciona jedinica</label>
                    </td>
                    <td>
                        <select name="org_jed">
                            <option value="@k_o.OrganizacionaJedinica_FK">@k_o.organizacionaJedinica.Naziv</option>
                            @foreach (var x in org_jed)
                            {
                                <option value="@x.OrganizacionaJedinica_ID">@x.Naziv</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary" id="go">Snimi</button>
        </form>
    </div>

    <div id="tekst_i_animacija">
        <div class="loader"></div>
        <p id="tekst_ucitava">Loading...</p>
    </div>

    <script>
        $(document).ready(function () {
            $("#tekst_i_animacija").hide();
        });

        $("#go").click(function () {
            $("#tekst_i_animacija").show();
            document.getElementById("podloga").style.filter = "blur(10px)";
            document.getElementById("zaglavlje").style.filter = "blur(10px)";
        });
    </script>
</center>