@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    Korisnici_OrganizacionaJedinica k_o = (Korisnici_OrganizacionaJedinica)ViewData["kor_oj"];

    List<OrganizacionaJedinica> org_jed = (List<OrganizacionaJedinica>)ViewData["OrganizacionaJedinice"];

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Uređivanje Korisnika - Organizacione jedinice</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <form method="post" action="/AdminOrg/KorisnikOrg/UrediSnimi">
        <input hidden="hidden" name="k_o_id" value="@k_o.Korisnici_OrganizacionaJedinica_ID" />
        <table>
            <tr>
                <td>
                    <label>Korisnik</label>
                </td>
                <td>
                    <input name="korisnik" hidden="hidden" value="@k_o.Korisnici_FK" />
                    <input readonly="readonly" value="@(k_o.korisnici.Ime.ToString()+" "+k_o.korisnici.Prezime.ToString())" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Organizaciona jedinica</label>
                </td>
                <td>
                    <select name="org_jed">
                        <option value="@k_o.Korisnici_OrganizacionaJedinica_ID">@k_o.organizacionaJedinica.Naziv</option>
                        @foreach (var x in org_jed)
                        {
                            <option value="@x.OrganizacionaJedinica_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Snimi</button>
    </form>
</center>