@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<OrganizacionaJedinicaVM> lista = (List<OrganizacionaJedinicaVM>)ViewData["org_jed"];
    
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Prikaz Organizacionih Jedinica</h1>

    <div id="dugmad">
        <div id="dodaj">
            <a href="/SuperAdmin/OrganizacionaJedinica/Unos" class="btn btn-success">Unesi novu</a>
        </div>
        <div id="print_excel">
            <a href="/SuperAdmin/OrganizacionaJedinica/Excel" class="btn btn-info">Export to Excel</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Organizacija</th>
        <th>PTT</th>
        <th>Država</th>
        <th>Adresa</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@x.Organizacija_naziv</td>
                    <td>@x.PTT_naziv</td>
                    <td>@x.Drzava_naziv</td>
                    <td>@x.Adresa</td>
                    <td>
                        <a href="/SuperAdmin/OrganizacionaJedinica/Uredi?id=@x.OrganizacionaJedinica_ID" class="btn btn-primary">Uredi</a>
                        <a id="ukloni_@x.OrganizacionaJedinica_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.OrganizacionaJedinica_ID">Sigurni? <a href="/SuperAdmin/OrganizacionaJedinica/Ukloni?id=@x.OrganizacionaJedinica_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.OrganizacionaJedinica_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.OrganizacionaJedinica_ID").hide();

                            $("#ukloni_@x.OrganizacionaJedinica_ID").click(function () {

                                $("#poruka_@x.OrganizacionaJedinica_ID").slideDown();
                            });

                            $("#no_@x.OrganizacionaJedinica_ID").click(function () {
                                $("#poruka_@x.OrganizacionaJedinica_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</center>