@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    OrganizacionaJedinica org_jed = (OrganizacionaJedinica)ViewData["org_jed"];
    List<Drzava> drzave = (List<Drzava>)ViewData["drzava"];
    List<Organizacija> organizacije = (List<Organizacija>)ViewData["organizacija"];
    List<PTT> ptt = (List<PTT>)ViewData["ptt"];
}
<center>
    <form method="post" action="/SuperAdmin/OrganizacionaJedinica/UrediSnimi">
        <h1>Uređivanje Organizacione Jedinice</h1>
        <table>
            <tr>
                <td>
                    <label>
                        Naziv
                    </label>
                </td>
                <td>
                    <input type="text" name="naziv" value="@org_jed.Naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Organizacija
                    </label>
                </td>
                <td>
                    <select name="organizacija">
                        <option value="@org_jed.Organizacija_FK">@org_jed.organizacija.Naziv</option>
                        @foreach (var x in organizacije)
                        {
                            <option value="@x.Organizacija_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Adresa
                    </label>
                </td>
                <td>
                    <input type="text" name="adresa" value="@org_jed.Adresa" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Država
                    </label>
                </td>
                <td>
                    <select name="drzava">
                        <option value="@org_jed.Drzava_FK">@org_jed.drzava.Naziv</option>
                        @foreach (var x in drzave)
                        {
                            <option value="@x.Drzava_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        PTT
                    </label>
                </td>
                <td>
                    <select name="ptt">
                        <option value="@org_jed.PTT_FK">@org_jed.ptt.Naziv</option>
                        @foreach (var x in ptt)
                        {
                            <option value="@x.PTT_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Snimi</button>
    </form>
</center>