@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    @model WebApplication1.Models.VM.lista_DetaljiRealizacijaVM
Layout = "~/Views/Shared/_Layout_user.cshtml";
    uor id = (uor)ViewData["id"];
}
<div id="print_pdf"><a class="btn btn-info" id="etpdf">Export to PDF</a></div>
<script>
    $("#etpdf").click(function () {
        var sHtml = $("#forPrint").html();
        sHtml = sHtml.replace(/</g, "StrTag").replace(/>/g, "EndTag");

        var t3 = sHtml;

        var test = { "html": t3 };

        $.ajax({
            url: "/User/ProjekatAktivnostRealizacija/Pdf",
            type: "POST",
            data: test,
            success: function (response) {
                window.open("../User/ProjekatAktivnostRealizacija/Pdf?html=" + test.t3, "blank");
            },
            fail: function (response) {
                alert("Fail!");
            }
        });
    });
</script>

<div id="forPrint">
    <table class="table">
        <thead>
        <th>Realizacija ID</th>
        @*<th>Projekat</th>*@
        <th>Aktivnost</th>
        <th>Korisnik</th>
        <th>Datum</th>
        <th>Količnia</th>
        <th>Opis</th>
        </thead>
        <tbody>
            @foreach (var x in Model.lista)
            {
                <tr>
                    <td>@x.idRealizacija</td>
                    @*<td>@x.NazivProjekta</td>*@
                    <td>@x.NazivAktivnosti</td>
                    <td>@x.korisnik</td>
                    <td>@x.datum</td>
                    <td>@x.kolicina</td>
                    <td>@x.opis</td>
                </tr>
            }
        </tbody>
    </table>
</div>