@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<ProjekatPlan> lista = (List<ProjekatPlan>)ViewData["proj_plan"];

    Layout = "~/Views/Shared/_Layout_admin_org_jed.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>
    .aktiv {
        background-color: lawngreen;
        font-weight: bold;
    }

    .prek {
        background-color: dodgerblue;
        color: white;
        font-weight: bold;
    }

    .zavrs {
        background-color: orangered;
        color: white;
        font-weight: bold;
    }
</style>
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Projektnih Planova</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/AdminOrgJed/ProjekatPlan/Unos">Dodaj novi</a>
        </div>
        <div id="print_excel">
            <a href="/AdminOrgJed/ProjekatPlan/Excel" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Šifra</th>
        <th>Datum od</th>
        <th>Datum do</th>
        <th>Status</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@(x.DatumOd.Date.Day+"."+x.DatumOd.Date.Month + "." + x.DatumOd.Date.Year + ".")</td>
                    <td>@(x.DatumDo.Date.Day+"."+x.DatumDo.Date.Month + "." + x.DatumDo.Date.Year + ".")</td>
                    <td id="status_@x.ProjekatPlan_ID">@x.status.Naziv</td>
                    <script>
                        var element = document.getElementById("status_@x.ProjekatPlan_ID");

                        if (element.innerText == "Aktivan") {
                            element.classList.add("aktiv");
                        }
                        else if (element.innerText == "Prekinut") {
                            element.classList.add("prek");
                        }
                        else if (element.innerText == "Završen") {
                            element.classList.add("zavrs");
                        }
                    </script>
                    <td>
                        <a class="btn btn-primary" href="/AdminOrgJed/ProjekatPlan/Uredi?id=@x.ProjekatPlan_ID">Uredi</a>
                        <a id="ukloni_@x.ProjekatPlan_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.ProjekatPlan_ID">Sigurni? <a href="/AdminOrgJed/ProjekatPlan/Ukloni?id=@x.ProjekatPlan_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.ProjekatPlan_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.ProjekatPlan_ID").hide();

                            $("#ukloni_@x.ProjekatPlan_ID").click(function () {

                                $("#poruka_@x.ProjekatPlan_ID").slideDown();
                            });

                            $("#no_@x.ProjekatPlan_ID").click(function () {
                                $("#poruka_@x.ProjekatPlan_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>