@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    List<OrganizacionaJedinica> lista_org_jed = (List<OrganizacionaJedinica>)ViewData["org_jed"];
    ProjekatPlan p = (ProjekatPlan)ViewData["projekat"];
    List<Status> stat_lista = (List<Status>)ViewData["statusi"];
}
<center>
    <h1>Uređivanje plana projekta</h1>
    <form method="post" action="/SuperAdmin/ProjekatPlan/UrediSnimi">

        <input hidden="hidden" name="id" value="@p.ProjekatPlan_ID" />

        <table>
            <tr>
                <td>
                    <label>
                        Naziv
                    </label>
                </td>
                <td>
                    <input name="naziv" value="@p.Naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Šifra
                    </label>
                </td>
                <td>
                    <input name="sifra" value="@p.Sifra" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Organizaciona jedinica
                    </label>
                </td>
                <td>
                    <select name="org_jed">
                        <option value="@p.OrganizacionaJedinica_FK">@p.organizacionaJedinica.Naziv</option>
                        @foreach (var x in lista_org_jed)
                        {
                            <option value="@x.OrganizacionaJedinica_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum od
                    </label>
                </td>
                <td>
                    <input type="datetime" name="OD" value="@p.DatumOd">
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum do
                    </label>
                </td>
                <td>
                    <input type="datetime" name="DO" value="@p.DatumDo">
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Status
                    </label>
                </td>
                <td>
                    <select name="status_id">
                        <option value="@p.Status_FK">@p.status.Naziv</option>
                        @foreach (var x in stat_lista)
                        {
                            <option value="@x.StatusID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>

        <button class="btn btn-primary">Snimi</button>
    </form>
</center>