@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    @model WebApplication1.Models.VM.lista_realizacijaVM

    List<ProjekatPlan> projekti = (List<ProjekatPlan>)ViewData["projekti"];

    List<WebApplication1.Models.VM.RealizacijaVM> lista_projekata = (List<WebApplication1.Models.VM.RealizacijaVM>)ViewData["lista_projekata"];

    RealizacijaDetaljiSuma suma = (RealizacijaDetaljiSuma)ViewData["suma"];
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    uor id = (uor)ViewData["id"];

}
<style>
    #cb {
        width: 50%;
    }

    td {
        padding: 2%;
    }

    #progressBar {
        border: 1px solid black;
        background-color: dimgray;
        height: 25px;
        width: 100%;
    }

    #vrijednost {
        position: relative;
        background-color: dodgerblue;
        height: 100%;
        display: block;
    }

    #dat2 {
        width: 100%;
    }
    #fb:hover {
        cursor: pointer;
    }
</style>

<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        /*text-align-last: center;*/
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/Admin/Admin/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="sifarnik">Opšti šifarnik</li>
            <ul id="o_s">
                <li><a href="/Admin/Drzava/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Država</a></li>
                <li><a href="/Admin/PTT/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">PTT</a></li>
                <li><a href="/Admin/Organizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizacija</a></li>
                <li><a href="/Admin/OrganizacionaJedinica/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizaciona jedinica</a></li>
                <li><a href="/Admin/KorisnikOrg/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnik-Organizaciona jedinica</a></li>
            </ul>
            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/Admin/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/Admin/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/Admin/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/Admin/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
                <li><a href="/Admin/Uloge/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Uloge</a></li>
            </ul>
        </ul>
    </div>
</div>
@*<script>
    $(document.getElementsByTagName("li")).mousedown(function () {
        this.style.backgroundColor = "rgba(250, 90, 90, 0.8)";
        this.style.width = "100%";
        this.style.borderRadius = "0px 25px 25px 0px";
    });

    $(document.getElementsByTagName("li")).mouseleave(function () {
        this.style.backgroundColor = "rgb(51, 51, 51)";
        this.style.width = "100%";
        this.style.borderRadius = "0px";
    });

    $(document.getElementsByTagName("a")).mousedown(function () {
        this.style.color = "White";
    });
    //$(document.getElementsByTagName("li")).mouseup(function () {
    //    this.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
    //});
</script>*@
<center>
    <h1>Detalji Realizacija</h1>

    <form method="post" action="/Admin/ProjekatAktivnostRealizacija/Detalji?u=@id.userId&o=@id.organisationId&r=@id.roleId">

        <table>
            <tr>
                <td><label>Projekat</label></td>
                <td>
                    <select name="projekatId">
                        <option>---Odaberi---</option>
                        @foreach (var x in projekti)
                        {
                            <option value="@x.ProjekatPlan_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Datum od</label></td>
                <td><input id="dat2" type="datetime-local" name="OD" /></td>
            </tr>
            <tr>
                <td><label>Datum do</label></td>
                <td><input id="dat2" type="datetime-local" name="DO" /></td>
            </tr>
            @*<tr>
                    <td><label>Prikaži detaljnije</label></td>
                    <td><input id="cb" type="checkbox"/></td>
                </tr>*@
        </table>
        <button type="submit" class="btn btn-primary" id="tragaj" name="traziDugme" value="10">Traži</button>
    </form>
    @if (Model.liste != null)
    {
        @if (Model.liste.Count > 0)
        {
            <center>
                <div id="podaci">
                    <br /><br />
                    <h3>Rezultati projekata</h3>
                    <div id="dugmad">
                        <div id="print_excel" style="display:inline;">
                            <a href="/Report/Index2?uloga=@id.roleId&organizacijaId=@id.organisationId&projekatId=@Model.projekatId&OD=@Model.Od&DO=@Model.Do" class="btn btn-info">Export to Excel</a>
                        </div>
                        <li style=" margin:3%; position:relative; display:inline;"><a class="btn" id="fb" style="color:white; background-color:cornflowerblue;">Share on Facebook</a></li>
                        <script>
                            $("#fb").click(function () {
                                document.getElementById("fb").href = "http://www.facebook.com/sharer.php?u=" + "https://localhost:44343/Report/Index?uloga=@id.roleId&organizacijaId=@Model.organizacijaId&projekatId=@Model.projekatId&OD=@Model.Od&DO=@Model.Do";
                            });
                        </script>
                    </div>
                        @if (suma != null)
                        {
                            <table class="table">
                                <tr>
                                    <hr />
                                    <td style="font-weight:bold;">Projekat</td>
                                    <td style="font-weight:bold;">Planirano</td>
                                    <td style="font-weight:bold;">Ostvareno</td>
                                    <td style="font-weight:bold;">Procentualno</td>
                                    <td style="font-weight:bold;">Grafički</td>
                                </tr>
                                <tr>
                                    <hr />
                                    <td>@suma.naziv_projekta</td>
                                    <td>@suma.planirano</td>
                                    <td>@suma.ostvareno</td>
                                    <td>@(Math.Round(suma.procenti) + "%")</td>
                                    <td>
                                        <div id="progressBar" style="width:100%;">
                                            <div style="width:@(Math.Round(suma.procenti))%;" id="vrijednost"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        }

                        <table style="border:5px solid black" class="table">
                            <thead>
                            <th>Projekat</th>
                            <th>Aktivnost</th>
                            <th>Datum</th>
                            <th>Planirano</th>
                            <th>Ostvareno</th>
                            <th>Procenti</th>
                            <th>Grafički</th>
                            <th>Detalji</th>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.liste)
                                {
                                    <tr>
                                        <td>@x.nazivProjekta</td>
                                        <td>@x.naziv_aktivnosti</td>
                                        <td>@(x.datum.Day + "." + x.datum.Month + "." + x.datum.Year + ".")</td>
                                        <td>@x.planirano</td>
                                        <td>@x.odradjeno</td>
                                        <td>@(Math.Round((x.odradjeno / x.planirano) * 100))%</td>
                                        <td>
                                            <div id="progressBar" style="width:100%;">
                                                <div style="width:@(Math.Round((x.odradjeno / x.planirano) * 100))%;" id="vrijednost"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" id="Detalji__@x.aktivnostId">Detalji</a>
                                            <script>
                                        $("#Detalji__@x.aktivnostId").click(function (event) {
                                            $.get("/Admin/Ajax/DetaljiRealizacija?idAktivnost=@x.aktivnostId&idProjekat=@x.projekatId&idRealizacija=@x.realizacijaId&korisnikId=@x.korisnikId", function (result) {
                                                $("#box").show();
                                                $("#glavni").show();
                                                $("#box").html(result);
                                                $("#glavni").css("border", "5px solid black");
                                            });
                                        });
                                            </script>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
</center>
        }
    }
</center>
<center>
    <div id="glavni">
        <div id="box">
        </div>
    </div>
</center>