@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    @model WebApplication1.Models.VM.lista_DetaljiRealizacijaVM
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    uor id = (uor)ViewData["id"];
}
<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/Admin/Admin/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="sifarnik">Opšti šifarnik</li>
            <ul id="o_s">
                <li><a href="/Admin/Drzava/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Država</a></li>
                <li><a href="/Admin/PTT/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">PTT</a></li>
                <li><a href="/Admin/Organizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizacija</a></li>
                <li><a href="/Admin/OrganizacionaJedinica/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizaciona jedinica</a></li>
                <li><a href="/Admin/KorisnikOrg/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnik-Organizaciona jedinica</a></li>
            </ul>
            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/Admin/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/Admin/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/Admin/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/Admin/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
                <li><a href="/Admin/Uloge/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Uloge</a></li>
            </ul>
        </ul>
    </div>
</div>
@*<script>
    $(document.getElementsByTagName("li")).mousedown(function () {
        this.style.backgroundColor = "rgba(250, 90, 90, 0.8)";
        this.style.width = "100%";
        this.style.borderRadius = "0px 25px 25px 0px";
    });

    $(document.getElementsByTagName("li")).mouseleave(function () {
        this.style.backgroundColor = "rgb(51, 51, 51)";
        this.style.width = "100%";
        this.style.borderRadius = "0px";
    });

    $(document.getElementsByTagName("a")).mousedown(function () {
        this.style.color = "White";
    });
    //$(document.getElementsByTagName("li")).mouseup(function () {
    //    this.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
    //});
</script>*@

<div id="print_pdf"><a class="btn btn-info" id="etpdf">Export to PDF</a></div>
<script>
    $("#etpdf").click(function () {
        var sHtml = $("#forPrint").html();
        sHtml = sHtml.replace(/</g, "StrTag").replace(/>/g, "EndTag");

        var t3 = sHtml;

        var test = { "html": t3 };

        $.ajax({
            url: "/Admin/ProjekatAktivnostRealizacija/Pdf",
            type: "POST",
            data: test,
            success: function (response) {
                window.open("../Admin/ProjekatAktivnostRealizacija/Pdf?html=" + test.t3, "blank");
            },
            fail: function (response) {
                alert("Fail!");
            }
        });
    });
</script>

<div id="forPrint">
    <table class="table">
        <thead>
        <th>Realizacija ID</th>
        @*<th>Projekat</th>*@
        <th>Aktivnost</th>
        <th>Korisnik</th>
        <th>Datum</th>
        <th>Količnia</th>
        <th>Opis</th>
        </thead>
        <tbody>
            @foreach (var x in Model.lista)
            {
                <tr>
                    <td>@x.idRealizacija</td>
                    @*<td>@x.NazivProjekta</td>*@
                    <td>@x.NazivAktivnosti</td>
                    <td>@x.korisnik</td>
                    <td>@x.datum</td>
                    <td>@x.kolicina</td>
                    <td>@x.opis</td>
                </tr>
            }
        </tbody>
    </table>
</div>