@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<ProjekatAktivnostPlan> lista = (List<ProjekatAktivnostPlan>)ViewData["pro_aktiv_plan"];

    uor id = (uor)ViewData["id"];
}

<center>
    <h1>Prikaz Projektnih aktivnosti</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/User/ProjekatAktivnostPlan/Unos?u=@id.userId&o=@id.organisationId&r=@id.roleId">Dodaj novi</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>ID</th>
        @*<th>Projekat plan</th>*@
        <th>Šifra</th>
        <th>Naziv</th>
        <th>Datum od</th>
        <th>Datum do</th>
        <th>Jedinica mjere</th>
        <th>Količina</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.ProjekatAktivnostPlan_ID</td>
                    @*<td>@x.projekatPlan.Naziv</td>*@
                    <td>@x.Sifra</td>
                    <td>@x.Naziv</td>
                    <td>@(x.DatumOd.Date.Day+"."+ x.DatumOd.Date.Month + "." + x.DatumOd.Date.Year + ".")</td>
                    <td>@(x.DatumDo.Date.Day+"."+ x.DatumDo.Date.Month + "." + x.DatumDo.Date.Year + ".")</td>
                    <td>@x.JedinicaMjere</td>
                    <td>@x.Kolicina</td>
                    <td><a class="btn btn-danger" href="/User/ProjekatAktivnostPlan/Ukloni?id=@x.ProjekatAktivnostPlan_ID&u=@id.userId&o=@id.organisationId&r=@id.roleId">Ukloni</a></td>
                </tr>
            }
        </tbody>
    </table>

</center>