@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_user.cshtml";

    ProjekatAktivnostPlan aktiv = (ProjekatAktivnostPlan)ViewData["aktiv"];

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}

<style>

    .loader {
        position: relative;
        border: 2.5vw solid #c2fdc5;
        border-top: 2.5vw solid #28a524;
        border-radius: 50%;
        width: 8vw;
        height: 8vw;
        animation: spin 1s linear infinite;
        margin: auto;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #tekst_ucitava {
        position: relative;
        text-align: center;
        font-family: Agency FB;
        font-size: 5vw;
        font-weight: bold;
        width: 100%;
        margin: auto;
    }

    #tekst_i_animacija {
        position: absolute;
        height: 30%;
        width: 30%;
        margin-left: 25%;
        margin-top: 8vw;
    }

    #podloga {
        position: absolute;
        width: 70%;
        height: 100%;
        margin-top: 5%;
    }
</style>
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Uređivanje projektne aktivnosti</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <br />
    <br />
    <div id="podloga">
        <form method="post" action="/User/ProjekatAktivnostPlan/UrediSnimi">
            <input hidden="hidden" name="projekatPlanId" value="@aktiv.ProjekatPlan_FK" />
            <input hidden="hidden" name="id" value="@aktiv.ProjekatAktivnostPlan_ID" />

            <table>
                <tr>
                    <td>
                        <label>
                            Naziv
                        </label>
                    </td>
                    <td>
                        <input name="naziv" value="@aktiv.Naziv" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Šifra
                        </label>
                    </td>
                    <td>
                        <input name="sifra" value="@aktiv.Sifra" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Količina
                        </label>
                    </td>
                    <td>
                        <input name="kolicina" value="@aktiv.Kolicina" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Jedinica mjere
                        </label>
                    </td>
                    <td>
                        <input name="jedinicaMjere" value="@aktiv.JedinicaMjere" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Datum od
                        </label>
                    </td>
                    <td>
                        <input name="OD" type="datetime" value="@aktiv.DatumOd" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Datum do
                        </label>
                    </td>
                    <td>
                        <input name="DO" type="datetime" value="@aktiv.DatumDo" />
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit" id="go">Snimi</button>
        </form>
    </div>
    <div id="tekst_i_animacija">
        <div class="loader"></div>
        <p id="tekst_ucitava">Loading...</p>
    </div>
</center>

<script>
    $(document).ready(function () {
        $("#tekst_i_animacija").hide();
    });

    $("#go").click(function () {
        $("#tekst_i_animacija").show();
        document.getElementById("podloga").style.filter = "blur(10px)";
        document.getElementById("zaglavlje").style.filter = "blur(10px)";
    });
</script>