@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_user.cshtml";

    ProjekatAktivnostPlan aktiv = (ProjekatAktivnostPlan)ViewData["aktiv"];

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Uređivanje projektne aktivnosti</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <br />
    <br />
    <form method="post" action="/User/ProjekatAktivnostPlan/UrediSnimi">
        <input hidden="hidden" name="projekatPlanId" value="@aktiv.ProjekatPlan_FK" />
        <input hidden="hidden" name="id" value="@aktiv.ProjekatAktivnostPlan_ID" />

        <table>
            <tr>
                <td>
                    <label>
                        Naziv
                    </label>
                </td>
                <td>
                    <input name="naziv" value="@aktiv.Naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Šifra
                    </label>
                </td>
                <td>
                    <input name="sifra" value="@aktiv.Sifra" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Količina
                    </label>
                </td>
                <td>
                    <input name="kolicina" value="@aktiv.Kolicina" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Jedinica mjere
                    </label>
                </td>
                <td>
                    <input name="jedinicaMjere" value="@aktiv.JedinicaMjere" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum od
                    </label>
                </td>
                <td>
                    <input name="OD" type="datetime" value="@aktiv.DatumOd" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum do
                    </label>
                </td>
                <td>
                    <input name="DO" type="datetime" value="@aktiv.DatumDo" />
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Snimi</button>
    </form>
</center>