@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<ProjekatAktivnostRealizacijaVM> lista = (List<ProjekatAktivnostRealizacijaVM>)ViewData["lista_relizacija"];

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Prikaz Realizacija</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/SuperAdmin/ProjekatAktivnostRealizacija/Unos">Unesi novu</a>
        </div>
        <div id="detalji">
            <a class="btn btn-warning" href="/SuperAdmin/ProjekatAktivnostRealizacija/Detalji">Detalji</a>
        </div>
        <div id="print_excel"><a href="/SuperAdmin/ProjekatAktivnostRealizacija/Excel" class="btn btn-info">Export to Excel</a></div>
        <div></div>
        <div></div>
    </div>
    <table class="table">
        <thead>
        <th>Projekat aktivnost plan</th>
        <th>Datum</th>
        <th>Korisnik</th>
        <th>Količina</th>
        <th>Opis</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.ProjekatAktivnostPlan_naziv</td>
                    <td>@(x.Datum.Date.Day+"."+ x.Datum.Date.Month + "." + x.Datum.Date.Year + ".")</td>
                    <td>@x.Korisnici_naziv</td>
                    <td>@x.Kolicina</td>
                    <td>@x.Opis</td>
                    <td>
                        <a class="btn btn-primary" href="/SuperAdmin/ProjekatAktivnostRealizacija/Uredi?id=@x.ProjekatAktivnostRealizacija_ID">Uredi</a>
                        <a id="ukloni_@x.ProjekatAktivnostRealizacija_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.ProjekatAktivnostRealizacija_ID">Sigurni? <a href="/SuperAdmin/ProjekatAktivnostRealizacija/Ukloni?id=@x.ProjekatAktivnostRealizacija_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.ProjekatAktivnostRealizacija_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.ProjekatAktivnostRealizacija_ID").hide();

                            $("#ukloni_@x.ProjekatAktivnostRealizacija_ID").click(function () {

                                $("#poruka_@x.ProjekatAktivnostRealizacija_ID").slideDown();
                            });

                            $("#no_@x.ProjekatAktivnostRealizacija_ID").click(function () {
                                $("#poruka_@x.ProjekatAktivnostRealizacija_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>



