@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    ProjekatAktivnostRealizacija temp = (ProjekatAktivnostRealizacija)ViewData["uredi"];
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    uor id = (uor)ViewData["id"];
}
<center>
    <h1>Uređivanje Realizacija</h1>
    <form method="post" action="/SuperAdmin/ProjekatAktivnostRealizacija/UrediSnimi">
        <table>
            <tr>
                <input type="text" hidden="hidden" name="realizacijaId" value="@temp.ProjekatAktivnostRealizacija_ID"/>
                <input type="text" hidden="hidden" name="aktivnostId" value="@temp.ProjekatAktivnostPlan_FK"/>
                <td><label>Naziv aktivnosti</label></td>
                <td><input name="projekat" readonly="readonly" value="@temp.projekatAktivnostPlan.Naziv" /></td>
            </tr>
            <tr>
                <td><label>Količina</label></td>
                <td><input value="@temp.Kolicina" name="kolicina" /></td>
            </tr>
            <tr>
                <td><label>Datum</label></td>
                <td><input type="datetime" value="@temp.Datum.Date" name="datum" /></td>
            </tr>
            <tr>
                <td><label>Opis</label></td>
                <td><input type="text" value="@temp.Opis" name="opis" /></td>
            </tr>
        </table>

        <button class="btn btn-primary">Snimi</button>
    </form>
</center>