@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<ProjekatAktivnostPlan> lista = (List<ProjekatAktivnostPlan>)ViewData["pro_aktiv_plan"];
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    uor id = (uor)ViewData["id"];
}
<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/SuperAdmin/SuperAdmin/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="sifarnik">Opšti šifarnik</li>
            <ul id="o_s">
                <li><a href="/SuperAdmin/Drzava/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Država</a></li>
                <li><a href="/SuperAdmin/PTT/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">PTT</a></li>
                <li><a href="/SuperAdmin/Organizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizacija</a></li>
                <li><a href="/SuperAdmin/OrganizacionaJedinica/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizaciona jedinica</a></li>
                <li><a href="/SuperAdmin/KorisnikOrg/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnik-Organizaciona jedinica</a></li>
            </ul>
            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/SuperAdmin/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/SuperAdmin/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/SuperAdmin/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/SuperAdmin/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
                <li><a href="/SuperAdmin/Uloge/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Uloge</a></li>
                <li><a href="/SuperAdmin/Status/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Statusi</a></li>
            </ul>
        </ul>
    </div>
</div>

<center>
    <h1>Prikaz Projektnih aktivnosti</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/SuperAdmin/ProjekatAktivnostPlan/Unos?u=@id.userId&o=@id.organisationId&r=@id.roleId">Dodaj novi</a>
        </div>
        <div id="print_excel">
            <a href="/SuperAdmin/ProjekatAktivnostPlan/Excel" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Šifra</th>
        <th>Projekat plan</th>
        <th>Datum od</th>
        <th>Datum do</th>
        <th>Jedinica mjere</th>
        <th>Količina</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@x.projekatPlan.Naziv</td>
                    <td>@(x.DatumOd.Date.Day+"."+ x.DatumOd.Date.Month + "." + x.DatumOd.Date.Year + ".")</td>
                    <td>@(x.DatumDo.Date.Day+"."+ x.DatumDo.Date.Month + "." + x.DatumDo.Date.Year + ".")</td>
                    <td>@x.JedinicaMjere</td>
                    <td>@x.Kolicina</td>
                    <td>
                        <a class="btn btn-primary" href="/SuperAdmin/ProjekatAktivnostPlan/Uredi?id=@x.ProjekatAktivnostPlan_ID&u=@id.userId&o=@id.organisationId&r=@id.roleId">Uredi</a>
                        <a id="ukloni_@x.ProjekatAktivnostPlan_ID" class="btn btn-danger" style="color:white">Ukloni</a>
                        <script>
                            $("#ukloni_@x.ProjekatAktivnostPlan_ID").click(function () {
                                var t = confirm("Da li ste sigurni da želite obrisati odabrani podatak?");

                                if (t===true)
                                    window.location.href = "/SuperAdmin/ProjekatAktivnostPlan/Ukloni?id=@x.ProjekatAktivnostPlan_ID&u=@id.userId&o=@id.organisationId&r=@id.roleId";
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</center>