@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<ProjekatPlan> lista = (List<ProjekatPlan>)ViewData["proj_plan"];
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    uor id = (uor)ViewData["id"];
}
<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/Admin/Admin/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="sifarnik">Opšti šifarnik</li>
            <ul id="o_s">
                <li><a href="/Admin/Drzava/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Država</a></li>
                <li><a href="/Admin/PTT/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">PTT</a></li>
                <li><a href="/Admin/Organizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizacija</a></li>
                <li><a href="/Admin/OrganizacionaJedinica/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizaciona jedinica</a></li>
                <li><a href="/Admin/KorisnikOrg/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnik-Organizaciona jedinica</a></li>
            </ul>
            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/Admin/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/Admin/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/Admin/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/Admin/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
                <li><a href="/Admin/Uloge/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Uloge</a></li>
            </ul>
        </ul>
    </div>
</div>
@*<script>
    $(document.getElementsByTagName("li")).mousedown(function () {
        this.style.backgroundColor = "rgba(250, 90, 90, 0.8)";
        this.style.width = "100%";
        this.style.borderRadius = "0px 25px 25px 0px";
    });

    $(document.getElementsByTagName("li")).mouseleave(function () {
        this.style.backgroundColor = "rgb(51, 51, 51)";
        this.style.width = "100%";
        this.style.borderRadius = "0px";
    });

    $(document.getElementsByTagName("a")).mousedown(function () {
        this.style.color = "White";
    });
        //$(document.getElementsByTagName("li")).mouseup(function () {
        //    this.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
        //});
</script>*@
<center>
    <h1>Prikaz Projetnih Planova</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/Admin/ProjekatPlan/Unos?u=@id.userId&o=@id.organisationId&r=@id.roleId">Dodaj novi</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Organizaciona jedinica</th>
        <th>Šifra</th>
        <th>Naziv</th>
        <th>Datum od</th>
        <th>Datum do</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.ProjekatPlan_ID</td>
                    <td>@x.organizacionaJedinica.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@x.Naziv</td>
                    <td>@x.DatumOd</td>
                    <td>@x.DatumDo</td>
                    <td><a class="btn btn-danger" href="/Admin/ProjekatPlan/Ukloni?id=@x.ProjekatPlan_ID&u=@id.userId&o=@id.organisationId&r=@id.roleId">Ukloni</a></td>
                </tr>
            }
        </tbody>
    </table>
</center>