@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<ProjekatPlan> lista = (List<ProjekatPlan>)ViewData["proj_plan"];
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    uor id = (uor)ViewData["id"];

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
    .aktiv {
        background-color: lawngreen;
        font-weight: bold;
    }

    .prek {
        background-color: dodgerblue;
        color: white;
        font-weight: bold;
    }

    .zavrs {
        background-color: orangered;
        color: white;
        font-weight: bold;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/AdminOrg/AdminOrg/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="sifarnik">Opšti šifarnik</li>
            <ul id="o_s">
                <li><a href="/AdminOrg/OrganizacionaJedinica/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizaciona jedinica</a></li>
                <li><a href="/AdminOrg/KorisnikOrg/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnik-Organizaciona jedinica</a></li>
            </ul>
            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/AdminOrg/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/AdminOrg/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/AdminOrg/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/AdminOrg/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
            </ul>
        </ul>
    </div>
</div>

<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Projektnih Planova</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="dugmad">
        <div id="dodaj">
            <a class="btn btn-success" href="/AdminOrg/ProjekatPlan/Unos?u=@id.userId&o=@id.organisationId&r=@id.roleId">Dodaj novi</a>
        </div>
        <div id="print_excel">
            <a href="/AdminOrg/ProjekatPlan/Excel?o=@id.organisationId" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Organizaciona jedinica</th>
        <th>Šifra</th>
        <th>Naziv</th>
        <th>Datum od</th>
        <th>Datum do</th>
        <th>Status</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.organizacionaJedinica.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@x.Naziv</td>
                    <td>@(x.DatumOd.Date.Day+"."+ x.DatumOd.Date.Month + "." + x.DatumOd.Date.Year + ".")</td>
                    <td>@(x.DatumDo.Date.Day+"."+ x.DatumDo.Date.Month + "." + x.DatumDo.Date.Year + ".")</td>
                    <td id="status_@x.ProjekatPlan_ID">@x.status.Naziv</td>
                    <script>
                        var element = document.getElementById("status_@x.ProjekatPlan_ID");

                        if (element.innerText == "Aktivan") {
                            element.classList.add("aktiv");
                        }
                        else if (element.innerText == "Prekinut") {
                            element.classList.add("prek");
                        }
                        else if (element.innerText == "Završen") {
                            element.classList.add("zavrs");
                        }
                    </script>
                    <td>
                        <a class="btn btn-primary" href="/AdminOrg/ProjekatPlan/Uredi?id=@x.ProjekatPlan_ID&u=@id.userId&o=@id.organisationId&r=@id.roleId">Uredi</a>
                        <a id="ukloni_@x.ProjekatPlan_ID" class="btn btn-danger" style="color:white">Ukloni</a>
                        <script>
                            $("#ukloni_@x.ProjekatPlan_ID").click(function () {
                                var t = confirm("Da li ste sigurni da želite obrisati odabrani podatak?");

                                if (t===true)
                                    window.location.href = "/AdminOrg/ProjekatPlan/Ukloni?id=@x.ProjekatPlan_ID&u=@id.userId&o=@id.organisationId&r=@id.roleId";
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>