@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<OrganizacionaJedinica> lista_org_jed = (List<OrganizacionaJedinica>)ViewData["lista_org_jed"];

    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    List<Status> stat_lista = (List<Status>)ViewData["statusi"];

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Unos Projektnog Plana</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <form method="post" action="/AdminOrg/ProjekatPlan/UnosSnimi">
        <table>
            <tr>
                <td>
                    <label>
                        Organizaciona jedinica
                    </label>
                </td>
                <td>
                    <select name="organizacionaJedinica">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_org_jed)
                        {
                            <option value="@x.OrganizacionaJedinica_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Šifra
                    </label>
                </td>
                <td>
                    <input type="text" name="sifra" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Naziv
                    </label>
                </td>
                <td>
                    <input type="text" name="naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum od
                    </label>
                </td>
                <td>
                    <input type="datetime-local" name="Od" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Datum do
                    </label>
                </td>
                <td>
                    <input type="datetime-local" name="Do" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Status
                    </label>
                </td>
                <td>
                    <select name="status_id">
                        <option>---Odaberi---</option>
                        @foreach (var x in stat_lista)
                        {
                            <option value="@x.StatusID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Unesi</button>
    </form>
</center>