@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Korisnici> lista = (List<Korisnici>)ViewData["korisnik"];
    uor id = (uor)ViewData["id"];
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/AdminOrgJed/AdminOrgJed/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>

            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/AdminOrgJed/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/AdminOrgJed/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/AdminOrgJed/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/AdminOrgJed/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
            </ul>
        </ul>
    </div>
</div>

<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Korisnika</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="dugmad">
        <div id="print_excel">
            <a href="/AdminOrgJed/Korisnik/Excel?u=@id.userId" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Korisničko ime</th>
        <th>Uloga</th>
        <th>Šifra</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Telefon</th>
        <th>Mail</th>
        <th>Lozinka</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Korisnicko_Ime</td>
                    <td>@x.uloge.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@x.Ime</td>
                    <td>@x.Prezime</td>
                    <td>@x.Telefon</td>
                    <td>@x.Mail</td>
                    <td>@x.Lozinka</td>
                </tr>
            }
        </tbody>
    </table>
</center>