@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Korisnici> lista = (List<Korisnici>)ViewData["korisnik"];

    Layout = "~/Views/Shared/_Layout_admin_org_jed.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Korisnika</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>
    <div id="dugmad">
        <div id="print_excel">
            <a href="/AdminOrgJed/Korisnik/Excel" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <th>Korisničko ime</th>
            <th>Uloga</th>
            <th>Šifra</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Telefon</th>
            <th>Mail</th>
            <th>Lozinka</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Korisnicko_Ime</td>
                    <td>@x.uloge.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@x.Ime</td>
                    <td>@x.Prezime</td>
                    <td>@x.Telefon</td>
                    <td>@x.Mail</td>
                    <td>@x.Lozinka</td>
                </tr>
            }
        </tbody>
    </table>
</center>