@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Korisnici> lista = (List<Korisnici>)ViewData["korisnik"];

    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <h1>Prikaz Korisnika</h1>
    <div id="dugmad">
        <div id="dodaj">
            <a href="/SuperAdmin/Korisnik/Unos" class="btn btn-success">Dodaj novog</a>
        </div>
        <div id="print_excel">
            <a href="/SuperAdmin/Korisnik/Excel" class="btn btn-info">Export to Excel</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <th>Korisničko ime</th>
        <th>Uloga</th>
        <th>Šifra</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Telefon</th>
        <th>Mail</th>
        <th>Lozinka</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Korisnicko_Ime</td>
                    <td>@x.uloge.Naziv</td>
                    <td>@x.Sifra</td>
                    <td>@x.Ime</td>
                    <td>@x.Prezime</td>
                    <td>@x.Telefon</td>
                    <td>@x.Mail</td>
                    <td>@x.Lozinka</td>
                    <td>
                        <a class="btn btn-primary" href="/SuperAdmin/Korisnik/Uredi?id=@x.Korisnici_ID">Uredi</a>
                        <a id="ukloni_@x.Korisnici_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.Korisnici_ID">Sigurni? <a href="/SuperAdmin/Korisnik/Ukloni?id=@x.Korisnici_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.Korisnici_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.Korisnici_ID").hide();

                            $("#ukloni_@x.Korisnici_ID").click(function () {

                                $("#poruka_@x.Korisnici_ID").slideDown();
                            });

                            $("#no_@x.Korisnici_ID").click(function () {
                                $("#poruka_@x.Korisnici_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>