@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    Korisnici k = (Korisnici)ViewData["korisnik"];

    List<Uloge> uloge = (List<Uloge>)ViewData["uloge"];
}
<center>
    <form method="post" action="/SuperAdmin/Korisnik/UrediSnimi">

        <input name="id" hidden="hidden" value="@k.Korisnici_ID"/>

        <table>
            <tr>
                <td>
                    <label>Ime</label>
                </td>
                <td>
                    <input type="text" name="ime" value="@k.Ime"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Prezime</label>
                </td>
                <td>
                    <input type="text" name="prezime" value="@k.Prezime"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Šifra</label>
                </td>
                <td>
                    <input type="text" name="sifra" value="@k.Sifra"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Korisničko ime</label>
                </td>
                <td>
                    <input type="text" name="korisnicko_ime" value="@k.Korisnicko_Ime"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Lozinka</label>
                </td>
                <td>
                    <input type="text" name="lozinka" value="@k.Lozinka"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Mail</label>
                </td>
                <td>
                    <input type="text" name="mail" value="@k.Mail"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Telefon</label>
                </td>
                <td>
                    <input type="text" name="telefon" value="@k.Telefon"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Uloga</label>
                </td>
                <td>
                    <select name="uloga">
                        <option value="@k.Uloge_FK">@k.uloge.Naziv</option>
                        @foreach (var x in uloge)
                        {
                            <option value="@x.Uloge_ID">@x.Naziv</option>
                        }
                    </select>
                    
                </td>
            </tr>
        </table>

        <button class="btn btn-primary">Snimi</button>
    </form>
</center>