@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    Korisnici k = (Korisnici)ViewData["korisnik"];

    List<Uloge> uloge = (List<Uloge>)ViewData["uloge"];

    Korisnici kor = (Korisnici)ViewData["korisnik"];
}
    <center>
        <form method="post" action="/SuperAdmin/Korisnik/UrediSnimi">

            <input name="id" hidden="hidden" value="@k.Korisnici_ID" />

            <table>
                <tr>
                    <td>
                        <label>Ime</label>
                    </td>
                    <td>
                        <input type="text" name="ime" value="@kor.Ime"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Prezime</label>
                    </td>
                    <td>
                        <input type="text" name="prezime" value="@kor.Prezime"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Šifra</label>
                    </td>
                    <td>
                        <input type="text" name="sifra" value="@kor.Sifra">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Korisničko ime</label>
                    </td>
                    <td>
                        <input type="text" name="korisnicko_ime" value="@kor.Korisnicko_Ime" />

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Lozinka</label>
                    </td>
                    <td>
                        <input type="text" name="lozinka" value="@kor.Lozinka" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Mail</label>
                    </td>
                    <td>
                        <input type="text" name="mail" value="@kor.Mail" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Telefon</label>
                    </td>
                    <td>
                        <input type="text" name="telefon" value="@kor.Telefon" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Uloga</label>
                    </td>
                    <td>
                        <select name="uloga">
                            <option value="@kor.Uloge_FK">@kor.uloge.Naziv</option>
                            @foreach (var x in uloge)
                            {
                                <option value="@x.Uloge_ID">@x.Naziv</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>

            <button class="btn btn-primary" id="snimi">Snimi</button>


        </form>
    </center>
