@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<OrganizacionaJedinicaVM> lista = (List< OrganizacionaJedinicaVM>)ViewData["org_jed"];

    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    byte[] pic = (byte[])ViewData["logo"];
    var base64 = Convert.ToBase64String(pic);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
}
<center>
    <div id="zaglavlje" style="width:100%">
        <h1 style="position:relative; display:inline;">Prikaz Organizacionih Jedinica</h1>
        <img style="height:7vw; width:7vw; position:relative; float:right; display:inline;" src="@imgsrc" />
    </div>

    <div id="dugmad">
        <div id="dodaj">
            <a href="/AdminOrg/OrganizacionaJedinica/Unos" class="btn btn-success">Unesi novu</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <th>Naziv</th>
        <th>Organizacija</th>
        <th>PTT</th>
        <th>Država</th>
        <th>Adresa</th>
        <th>Akcija</th>
        </thead>
        <tbody>
            @foreach (var x in lista)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@x.Organizacija_naziv</td>
                    <td>@x.PTT_naziv</td>
                    <td>@x.Drzava_naziv</td>
                    <td>@x.Adresa</td>
                    <td>
                        <a href="/AdminOrg/OrganizacionaJedinica/Uredi?id=@x.OrganizacionaJedinica_ID" class="btn btn-primary">Uredi</a>
                        <a id="ukloni_@x.OrganizacionaJedinica_ID" class="btn btn-danger" style="color:white">Ukloni</a>

                        <span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.OrganizacionaJedinica_ID">Sigurni? <a href="/AdminOrg/OrganizacionaJedinica/Ukloni?id=@x.OrganizacionaJedinica_ID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.OrganizacionaJedinica_ID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                        <script>
                            $("#poruka_@x.OrganizacionaJedinica_ID").hide();

                            $("#ukloni_@x.OrganizacionaJedinica_ID").click(function () {

                                $("#poruka_@x.OrganizacionaJedinica_ID").slideDown();
                            });

                            $("#no_@x.OrganizacionaJedinica_ID").click(function () {
                                $("#poruka_@x.OrganizacionaJedinica_ID").slideUp();
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>