@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@{
    List<Organizacija> lista_organicija = (List<Organizacija>)ViewData["organizacije"];
    List<PTT> lista_ptt = (List<PTT>)ViewData["ptt"];
    List<Drzava> lista_drzava = (List<Drzava>)ViewData["drzava"];
    Layout = "~/Views/Shared/_Layout_admin_org.cshtml";

    uor id = (uor)ViewData["id"];
}

<center>
    <h1>Unos Organizacione jedinice</h1>
    <form method="post" action="/AdminOrg/OrganizacionaJedinica/UnosSnimi">

        <input hidden="hidden" name="u" value="@id.userId"/>
        <input hidden="hidden" name="o" value="@id.organisationId"/>
        <input hidden="hidden" name="r" value="@id.roleId"/>

        <table>
            <tr>
                <td>
                    <label>
                        Organizacija
                    </label>
                </td>
                <td>
                    <select name="organizacija">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_organicija)
                        {
                            <option value="@x.Organizacija_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        PTT
                    </label>
                </td>
                <td>
                    <select name="ptt">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_ptt)
                        {
                            <option value="@x.PTT_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Država
                    </label>
                </td>
                <td>
                    <select name="drzava">
                        <option>---Odaberi---</option>
                        @foreach (var x in lista_drzava)
                        {
                            <option value="@x.Drazava_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Naziv
                    </label>
                </td>
                <td>
                    <input type="text" name="naziv" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Adresa
                    </label>
                </td>
                <td>
                    <input type="text" name="adresa" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</center>