@using WebApplication1.Models;
@using WebApplication1.Models.VM;
@model WebApplication1.Models.Organizacija
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";

    uor id = (uor)ViewData["id"];

    Organizacija org = (Organizacija)ViewData["organizacija_uredi"];

    List<PTT> lista_ptt = (List<PTT>)ViewData["ptt"];
    List<Drzava> lista_drzava = (List<Drzava>)ViewData["drzava"];
}

<style>
    td {
        padding: 10px;
    }

    a, td {
        /*font-weight: bold;*/
        text-align-last: center;
    }

    li, ul {
        list-style: none;
        margin-top: 5%;
    }

    ul {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    #sifarnik, #transakcije, #izvjestaji, #admin {
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration-line: none;
    }

        a:hover {
            color: white;
            text-decoration: none;
            text-decoration-line: none;
        }

    #kutijaZaMeni {
        position: fixed;
        height: 100%;
        width: 17%;
        /*            background-color:green;*/
        display: block;
        margin-left: -17.8%;
    }

    #menu {
        position: fixed;
        /*height: 65%;*/
        width: 15%;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        top: 20%;
        font-size: 1vw;
        border-radius: 0px 25px 25px 0px;
    }
</style>
<div id="kutijaZaMeni">
    <div id="menu">
        <br />
        <a style="color:white; text-decoration-line:none; font-size:120%;" href="/Admin/Admin/Index?u=@id.userId&o=@id.organisationId&r=@id.roleId">Projektna Organizacija</a><br /><br />
        <ul>
            <li id="sifarnik">Opšti šifarnik</li>
            <ul id="o_s">
                <li><a href="/Admin/Drzava/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Država</a></li>
                <li><a href="/Admin/PTT/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">PTT</a></li>
                <li><a href="/Admin/Organizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizacija</a></li>
                <li><a href="/Admin/OrganizacionaJedinica/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Organizaciona jedinica</a></li>
                <li><a href="/Admin/KorisnikOrg/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnik-Organizaciona jedinica</a></li>
            </ul>
            <li id="transakcije">Transakcije</li>
            <ul id="tra">
                <li><a href="/Admin/ProjekatPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Plan</a></li>
                <li><a href="/Admin/ProjekatAktivnostPlan/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Aktivnosti</a></li>
            </ul>
            <li id="izvjestaji">Izvještaji</li>
            <ul id="izv">
                <li><a href="/Admin/ProjekatAktivnostRealizacija/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Realizacija</a></li>
            </ul>
            <li id="admin">Admin</li>
            <ul id="adm">
                <li><a href="/Admin/Korisnik/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Korisnici</a></li>
                <li><a href="/Admin/Uloge/Prikaz?u=@id.userId&o=@id.organisationId&r=@id.roleId">Uloge</a></li>
            </ul>
        </ul>
    </div>
</div>
@*<script>
        $(document.getElementsByTagName("li")).mousedown(function () {
            this.style.backgroundColor = "rgba(250, 90, 90, 0.8)";
            this.style.width = "100%";
            this.style.borderRadius = "0px 25px 25px 0px";
        });

        $(document.getElementsByTagName("li")).mouseleave(function () {
            this.style.backgroundColor = "rgb(51, 51, 51)";
            this.style.width = "100%";
            this.style.borderRadius = "0px";
        });

        $(document.getElementsByTagName("a")).mousedown(function () {
            this.style.color = "White";
        });
            //$(document.getElementsByTagName("li")).mouseup(function () {
            //    this.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
            //});
    </script>*@
<center>
    <h1>Uredi Organizaciju</h1>
    <form action="/Admin/Organizacija/UrediSnimi" enctype="multipart/form-data" method="post">
        <input hidden="hidden" name="u" value="@id.userId" />
        <input hidden="hidden" name="o" value="@id.organisationId" />
        <input hidden="hidden" name="r" value="@id.roleId" />
        <input hidden="hidden" name="org_id" value="@org.Organizacija_ID"/>
        <table>
            <tr>
                <td><label>PTT</label></td>
                <td>
                    <select name="ptt">
                        <option value="@org.PTT_FK" disabled="disabled">@org.ptt.Naziv</option>
                        @foreach (var x in lista_ptt)
                        {
                            <option value="@x.PTT_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Država</label></td>
                <td>
                    <select name="drzava">
                        <option value="@org.Drzava_FK" disabled="disabled">@org.drzava.Naziv</option>
                        @foreach (var x in lista_drzava)
                        {
                            <option value="@x.Drazava_ID">@x.Naziv</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Šifra</label></td>
                <td><input name="sifra" type="text" value="@org.Sifra"/></td>
            </tr>
            <tr>
                <td><label>Naziv</label></td>
                <td><input name="naziv" type="text" value="@org.Naziv"/></td>
            </tr>
            <tr>
                <td><label>Adresa</label></td>
                <td><input name="adresa" type="text" value="@org.Adresa"/></td>
            </tr>
            <tr>
                <td><label>Slika</label></td>
                <td>
                    @*<label style="border:15px solid green;" class="file-label">Browse...</label>*@
                    <input style="border:0px;" class="form-control file-input" name="slika" type="file" />
                </td>
            </tr>
            <tr>
                <td><label>Logo</label></td>
                <td>
                    @*<label style="border:15px solid green;" class="file-label">Browse...</label>*@
                    <input style="border:0px;" class="form-control file-input" name="logo" type="file" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</center>